/* Set up a colorful gradient background */
body {
    background: linear-gradient(to right, #ff7eb9, #ff65a3, #ff3f89, #ff007f);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 20px;
    line-height: 1.5;
}

header {
    text-align: center;
    padding: 50px;
    background-color: rgb(0, 0, 0);
}

header h1 {
    font-size: 3em;
    margin: 0;
}

header p {
    font-size: 1.5em;
    margin-top: 30px;
}

main {
    padding: 25px;
    /* text-align: center; */
    max-width: 80ch;
    margin-left: auto;
    margin-right: auto;
}

section {
    margin-bottom: 30px;
}

h2 {
    font-size: 2em;
    color: #fffb00;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 1.2em;
    margin: 10px 0;
}

button {
    background-color: #ff007f;
    color: white;
    font-size: 1.1em;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff65a3;
}

footer {
    text-align: center;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.938);
    font-size: 1em;
}

/* ADD @import statements ABOVE this line  */


/*  ------------------------------------------------------
    NAVIGATION STYLING 
    This turns an unordered list in the nav element to a horizontal menu
    It also sets the color for the navigation.
    ------------------------------------------------------ */ 
    nav {
        text-align: center;
        padding: 20px;
        background-color: #000000;
        font-size: 20px;
    }
    nav a {
        color: white;
        margin: 0 15px;
        text-decoration: none;
    }
    nav a:hover {
        text-decoration: underline;
    }
/* Change this to whatever color you want your nav and visited nav links to be */
nav a{
    color: #ffffff;
    border-bottom: none;
}
nav a:visited{
    color: #ffffff;
    
}

/*  ------------------------------------------------------
    MEDIA STYLING 
    These styles affect how images and audio look on the page.
    ------------------------------------------------------ */ 
/* Responsive Image Base */
img,video{
    max-width: 100%; 
    height: auto;
}

/* Styling for video embeded with iframe */
.videoWrapper {
    position: relative;
    padding-top: 25px;
    height: 0;
    clear:both;
    outline:1px solid red;
  }
  
  .videoWrapper.ratio-16-9{
      padding-bottom: 56.25%; /* 16:9 */
  }
  
  .videoWrapper.ratio-4-3{
      padding-bottom: 75%; /* 4:3 */
  }
  
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }